
<div class="bluep-image">
    
      </br>
      <div class="text">
  <h1 style="text-align: center;">Browse a virus class based on baltimore classification</h1><br/>
  <div class="row ">
                <div class="col-button"></div>
                <div class="col-button"><button class='btn-lg btn-shm shadow' type="button" action="/page2">dsDNA</button></div>
                <div class="col-button"><button class='btn-lg btn-success shadow' type="button" action="/page2">ssDNA</button></div>
                <div class="col-button"><button class='btn-lg btn-secondary shadow' type="button" action="/page2">Reverse Transcribing</button></div>
                <div class="col-button"><button class='btn-lg btn-primary shadow' type="button" action="/page2">dsRNA</button></div>
                <div class="col-button"><button class='btn-lg btn-shm shadow' type="button" action="/page2">ssRNA (+)</button></div>
                <div class="col-button"><button class='btn-lg btn-success shadow' type="button" action="/page2">ssRNA (-)</button></div>
                <div class="col-button"><button class='btn-lg btn-secondary shadow' type="button" action="/page2">Circular ssRNA</button></div>
                <div class="col-button"><button class='btn-lg btn-primary shadow' type="button" action="/page2">Unclassified</button></div>

</div>
    </div>









<div id="particles-js"></div>






