


   <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/index">Home</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div>

    <form id="survey-form" method="GET" action="/results?term=">
        <div class="rowTab">
          <div class="labels">
            <label id="name-label" for="name">Genome ID: </label>
          </div>
          <div class="rightTab">
            <input autofocus type="text" name="term" id="term" class="input-field" placeholder="Enter Genome ID" required>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <button id="submit" type="submit">Submit</button>
        <button id="reset" type="reset">Reset</button>
      </form>
  </div>
